$gray-dark:                 #1d1e18;
$gray:                      #333333;
$gray-light:                #4d4d4d;
$gray-lighter:              #999999;
$gray-lightest:             #d9d9d9;

$brand-primary:             #6D1729;
$brand-success:             #176D5B;
$brand-info:                #17296D;
$brand-warning:             #CCCC4B;
$brand-danger:              $brand-primary;
$brand-inverse:             $brand-success;

$body-bg:                   $gray-dark;
$body-color:                $gray-lightest;

$enable-flex:               true;
$enable-rounded:            false;
$enable-print-styles:       false;

$footer-height:             50px;

$player-controls-width:     200px;
