.library-view {
  height: calc(100vh - 150px);
  width: calc(100vw / 3);
  overflow-y: scroll;
}

.library-view-item {
  padding-left: 20px;
  overflow-y: hidden;
}

.library-view-item-header {
  font-size: 24px;
}
