.library-view {
  height: calc(100vh - 150px);
  overflow-y: scroll;
}

.library-view-item {
  padding-left: 20px;
  overflow-y: hidden;
}

.library-view-item-header {
  border: 1px solid black;
  font-size: 24px;
}
